@namespace DotFlyer.EmailTemplates.Components.Templates
@using DotFlyer.EmailTemplates.Models
@using DotFlyer.EmailTemplates.Components
@inherits Microsoft.AspNetCore.Components.ComponentBase

@code {
    [Parameter]
    public required SalesReportModel Model { get; set; }
}

<BaseEmailLayout>
    <div class="subject">Monthly Sales Report - <b>@Model.ClientName</b> Extracts</div>

    <div class="info-card">
        <p class="info-card-title">Report Details</p>

        <p>
            Attached please find the monthly extracts for <strong>@Model.ClientName</strong>.
        </p>

        <p>
            <strong>Report title:</strong> @Model.Title
        </p>

        @if (!string.IsNullOrWhiteSpace(Model.ContactEmailAddress))
        {
            <p>
                <strong>For queries:</strong> <a href="mailto:@Model.ContactEmailAddress">@Model.ContactEmailAddress</a>
            </p>
        }
    </div>
</BaseEmailLayout>